# stuff for ArcticFqx's dev console (get it in the moondance discord)
BGAnimations/ScreenSystemLayer aux.lua
config.lua
Lua/
readme-devconsole.txt
Scripts/Stitch.lua

# Gitignore the default song/group lists for casual mode
Other/CasualMode-DefaultSong.txt
Other/CasualMode-Groups.txt