# stuff for ArcticFqx's dev console (get it in the moondance discord)
BGAnimations/ScreenSystemLayer aux.lua
config.lua
Lua/
readme-devconsole.txt
Scripts/Stitch.lua

# Gitignore the default song/group lists for casual mode
Other/CasualMode-DefaultSong.txt
Other/CasualMode-DefaultSongAprilFools.txt
Other/DefaultSongs.txt
Other/DefaultSongsAprilFools.txt
Other/CasualMode-Groups.txt

Other/News/test.png
Other/SongManager Event.txt
Other/SongManager CustomGenre.txt
Sounds/GameplayAssist clap.ogg